<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<title>Vue.js</title>
</head>

<body>
	<main>

		<h1>{{mensajeAlReves}} </h1>
		<h1>{{mensaje}} </h1>

		<ul>
			<li v-for="tarea in tareasConPrioridad">
				{{tarea.nombre}} </li>
		</ul>

		<ul>
			<li v-for="tarea in tareasPorAntiguedad">
				{{tarea.nombre}} </li>
		</ul>

		<pre>{{$data}}</pre>
	</main>
	<script src="js/main.js"></script>
</body>

</html>