<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<title>Vue.js</title>
</head>

<body>
	<main>
		<!-- v-if Si no es verdad, no aparece en el dom -->
		<!-- v-show Si no es verdad, aparece como display:none -->
		<h1 v-if="conectado">Estoy conectado</h1>
		<h2 v-if="edad < 18"> No puedes entrar</h2>
		<h2 v-else-if="edad > 200"> Eres inmortal</h2>
		<h2 v-else> Puedes entrar</h2>

		<template v-if="conectado">
			<h3>Bienvenido Fran</h3>
			<ul>
				<li>
					<a href="#">Mis datos</a>
					<a href="#">Mensajes</a>
					<a href="#">Salir</a>
				</li>
			</ul>
		</template>
		<h4 v-else>
			No estás conectado ;(
		</h4>

		<pre>{{$data}}</pre>
	</main>
	<script src="js/main.js"></script>
</body>

</html>