<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<title>Vue.js</title>
</head>

<body>
	<main>
		<h1>{{$data.mensaje}}</h1>
		<input type="text" v-model="mensaje">
		<pre>{{$data}}</pre>
	</main>
	<script src="js/main.js"></script>
</body>

</html>