<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<title>Vue.js</title>
</head>

<body>
	<main>

		<ul>
			<li v-for="diaLaboral in diasLaborales">
				{{diaLaboral}}
			</li>
		</ul>

		<ul>
			<li v-for="(tarea, index) in tareas">
				{{index}} - {{tarea.nombre}} <small>({{tarea.prioridad}})</small>
			</li>
		</ul>

		<ul>
			<li v-for="(value, key, index) in persona">
				{{index}} - {{key }}: {{value}}
			</li>
		</ul>
		<pre>{{$data}}</pre>
	</main>
	<script src="js/main.js"></script>
</body>

</html>