<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<title>Vue.js</title>
</head>

<body>
	<main>

		<ul>
			<li v-for="juego in mejoresJuegos">
				{{juego.titulo | alReves}}
			</li>
		</ul>

		<input type="range" min="0" max="10" v-model="minimo">

		<ul>
			<li v-for="juego in buscarJuegos">
				{{juego.titulo}}
			</li>
		</ul>

		<input type="search" v-model="busqueda" placeholder="Buscar juego">

		<pre> {{$data}} </pre>

	</main>
	<script src="js/main.js"></script>
</body>

</html>