<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<title>Vue.js</title>
</head>

<body>
	<main>

		<ul>
			<li v-for="tarea in tareas">
				{{tarea}}
			</li>
		</ul>

		<form v-on:submit.prevent="agregarTarea">
			<input type="text" placeholder="Introduce tu tarea" v-model="nuevaTarea">

			<input type="submit" value="Enviar tarea">

		</form>


		<pre> {{$data}} </pre>

	</main>
	<script src="js/main.js"></script>
</body>

</html>